doctype html
html
    head
        title catalogo
        meta(name='viewport', content='width=device-width initial-scale=1.0')
        link(href='./css?css=css.css' rel='stylesheet' type='text/css')
        link(href='./css?css=capitulos.css' rel='stylesheet' type='text/css')
    body(onload='recargar(); altura(); cuadrarHorizontal();' onresize='recargar(); altura();' id='body')
        div(class='cabeza')
            button(onclick='window.location="./";')='Inicio'
        div(class='lista' id='lista')
            - for(var i=capitulos.length-1;i>=0;i--)
                a(href='./episodio?obra='+nombre+'&episodio='+capitulos[i].nombre+'&numeroDePag='+capitulos[i].numeroDePag+'&extension='+capitulos[i].extension+'&nombreBase='+capitulos[i].nombreBase)
                    p=capitulos[i].nombre
    script(src='./js?js=catalogo.js' type='text/javascript')
    script(src='./js?js=capitulos.js' type='text/javascript')
