doctype html
html
    head
        title catalogo
        meta(name='viewport', content='width=device-width initial-scale=1.0')
        link(href='./css?css=css.css' rel='stylesheet' type='text/css')
        link(href='./css?css=catalogo.css' rel='stylesheet' type='text/css')
    body(onload='recargar();' onresize='recargar();' id='body')
        div(class='catalogo')
            - capitulos;
            - for(var i=capitulos.length-1;i>=0;i--)
                div
                    a(href='./capitulos?obra='+capitulos[i].nombre)
                        img(src=('./imagen?imagen='+capitulos[i].nombre+'.jpg&obra='+capitulos[i].nombre))
                    p=capitulos[i].nombre
    script(src='./js?js=catalogo.js' type='text/javascript')
