doctype html
html
    head
        meta(name='viewport', content='width=device-width initial-scale=1.0')
        title visor
        link(href='./css?css=css.css' rel='stylesheet' type='text/css')
        link(href='./css?css=menu.css' rel='stylesheet' type='text/css')
    body(onload='alcargar();')
        div
            div(class="menu")
                button( onclick="escalaOriginal();" class="botonesDelMenu").
                    100%
                button(onclick="ajustarAlto();" class="botonesDelMenu").
                    ajustar altura
                button(onclick="ajustarAncho();" class="botonesDelMenu").
                    ajustar Ancho
            div(class="imagen1 contenedorimg" id="imagenes")
                img(src='/imagen?imagen=imagen1.png' alt="Error" id="imagen1" class="imagen1" style="display:none;")
                img(src=" " alt="Error" id="imagen2" class="imagen1" style="display:none;")
            div(class="controles")
                button(onclick="anteriorhoja();").
                    anterior
                button(onclick="pasarhoja();").
                    siguiente
        script(src='./js?js=js.js' type='text/javascript')